
<div class="fullscreen-bg">
  <div class="overlay-content">

     

  </div>


  <!-- <div class="container">

</div> -->

<div id="main-content" class="container">
  <h1>YouTube Comments Scraper</h1>
  <!-- <input [(ngModel)]="videoUrl" type="text"  placeholder="Enter YouTube URL" />
  <button (click)="startCountdownFetchAndDisplay()">Start</button> -->

  <div class="search-container">
  <input
    type="text"
    [(ngModel)]="videoUrl"
    class="search-input"
    placeholder="Enter YouTube URL"
  />
  <button (click)="startCountdownFetchAndDisplay()" class="search-button">
        <span class="material-icons">search</span>
  </button>

</div>

</div>


</div>
